body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: ghostwhite;
    color: slategray;
}

img {
    height: auto;
    max-width: 100%;
}

h1 {
    font-size: 42px;
}